body {
    background-color: rgb(127, 127, 227);
    color: black;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}


button {
    background-color: rgb(10, 10, 48);
    color: white;
    font-family: "Open Sans", sans-serif;
}


.passo {
    display: none;
}

.passo.ativo {
    display: block;
}


main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}